html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#view {
  height: 100%;
}

#teleport {
    position: absolute;
    z-index: 1;
    right: 60px;
    top: 10px;
    border: none;
    padding: 5px;
    color: white;
    background: black;
    opacity: 0.8;
}
